@charset "utf-8";
/* CSS Document */
* {margin:0;padding:0;border:0;}
img {border:none;}
a {cursor:pointer;}
a:focus{outline:none;}
a,a:hover {text-decoration: none;}
body,html {font-family:"微软雅黑";font-size: 1em;color: #000;}
ul li{ list-style:none;}
input[type="button"],input[type="submit"],input[type="reset"]{ -webkit-appearance:none;}
input{ border:none;outline:medium;outline:none;}
button{outline:none; border:none; }
h1,h2,h3,h4,h5,h6{font-weight: normal;}

.clr{clear: both;}
.index_box{margin-bottom: 80px;}
.index_sousuo{height: 50px;background: #008CEE;position: fixed; width: 100%;top: 0; z-index: 101;}
.index_sou_l{ float: left;width: 15%;height: 50px;text-align: center;}
.index_sou_l img{margin-top: 13px;}
.index_sou_c{float: left;width: 70%;background: #fff;border-radius: 25px;height: 36px; margin-top: 7px;}
.index_sou_c span{display: block;width: 15%;float: left;height: 36px; text-align: center;}
.index_sou_c span img{margin-top: 7px;}
.index_sou_c input{display: block;width: 70%;float: left;height: 36px;}
.index_sou_r{float: left;width: 15%;height: 50px;text-align: center;}
.index_sou_r img{margin-top: 13px;width: 22px;}
.login_box{ position:absolute;width: 100%;height: 100%;background:url(../img/bj.png) no-repeat;background-size: 100% 100%;}
.login_top{margin-top: 10px;text-align: center; color: #fff; font-size: 1.4em;}
.login_logo{text-align: center;margin-top: 60px;}
.login_input_box{margin: 60px 15% 10px 15%; height: 100px;   position: relative;}
.login_zz{position: absolute;width: 100%;height: 100px; background: #fff; opacity: 0.5;border-radius: 10px;}
.login_name{height: 49px;border-bottom: 1px solid #fff;position: absolute;width: 100%;}
.login_name p{ height: 49px;line-height: 49px; float: left;width: 20%;margin: 0!important;}
.login_name img{float: left;    margin: 9px 20px;}
.login_name input{color: #fff;background: none!important;margin: 10px 0!important; height: 29px!important;float: left;width: 80%!important;font-size: 16px;border: none!important;padding: 0!important;}
.login_pasword{position: absolute;top: 50px;width: 100%;height: 50px; font-size: 16px;}
.login_pasword p img{float: left;margin: 9px 20px;}
.login_pasword input{ color: #fff;margin: 10px 0!important;height: 29px!important;float: left;width: 60%!important;padding: 0!important;background: none!important;border: none!important;}
.login_pasword p{ height: 49px;line-height: 49px; float: left;width: 20%;margin: 0!important;}
.login_pasword span{display: block;width: 20%;float: left;}
.login_pasword span img{float: right;margin: 12px 10px;width: 26px;}
.login_wj{margin: 0px 15% 10px 15%; height: 20px;}
.p1{color: #fff;}
.p2{float: right;color: #fff;}
.p2 img{float: right;height: 20px; padding: 0 10px;}
.login_dl{margin: 20px 15% 10px 15%; height: 40px;}
.login_dl input{background: #fff;opacity: 0.8;width: 100%;height: 100%;border-radius: 5px!important;color: #7D9196!important;font-size: 1.5em!important;padding: 0!important;}
.login_zc{margin: 20px 15% 10px 15%; height: 40px;}
.login_zc input{background: url(../img/iptt.png) no-repeat!important;background-size: 100% 100%!important;width: 100%;height: 100%;color: #fff!important;font-size: 1.5em!important;border: none!important;padding: 0!important;border-radius: 5px!important;}
.login_tk{width: 100%;text-align: center;}
.login_tk a{color: #fff;}
.index_kua{display: block;width: 100%;height: 100%;}

.register_box{ width: 100%; padding:20px 0; }
.register_ip{height: 60px; background: #fff;line-height:60px; border-bottom: 1px solid #ccc;}
.register_ip p{ padding: 0 20px;height: 60px; }
.register_ip p span{display: block;float: left;width: 25%;color: #333333;}
.register_ip p i{display: block;float: left;width: 30%;text-align: right;}
.reg_ip1{float: left;width: 75%!important; height: 30px!important;margin-top: 15px!important;border: none!important;text-align: left!important;padding: 0!important;}
.reg_ip2{float: left;width: 45%!important; height: 30px!important;margin-top: 15px!important;border: none!important;padding: 0!important;}
.reg_ip3{float: left;width: 30%!important; height: 30px!important;margin-top: 15px!important;border: none!important; color: #008CEE; background: none;}
.reg_ip4{width: 100%;height: 40px;background: #008CEE;color: #fff;border-radius: 5px;}
.register_bt{padding: 20px 40px; }
.register_bt button{ height: 50px; background: #E6E6E6; color: #fff;border-radius: 5px;width: 100%;font-size: 1.4em;}
.register_bt input{ height: 50px; background: #008CEE; color: #fff;border-radius: 5px;width: 100%;font-size: 1.4em;}
.register_ip_ts{ height: 30px; background: #fff;margin-bottom: 10px;}
.register_ip_ts p{padding: 0 20px;height: 30px;line-height: 30px; }
.register_ip_ts p span{color: red;}
.register_bottom{width: 100%;text-align: center;color: #333333;}
.register_bottom p a{color: #008CEE;}
.register_ip p b{float: left;display: block;font-weight: normal;color: #666;font-size: 0.8em;}
.register_radio{margin: 21px 10px 21px 0;float: left;}
.register_radio1{margin: 21px 10px;float: left;}

.swiper-slide a{display: block;width: 100%;height: 100%;}
/*底部导航*/
.index_bottom{ position: fixed;z-index: 99;height: 60px;border-top: 1px solid #eee;background: #fff;bottom: 0;width: 100%;}
.index_bottom ul li{ float: left; width: 20%; text-align: center;height: 60px;}
.index_bottom ul li a{display: block;width: 100%;height: 100%; font-size: 1em; color: #444;}
.index_bottom ul li a img{height: 24px;margin-top: 10px;}
.index_bottom ul li a p{font-size: 0.8em;}

.flickity-enabled { position: relative;}
.flickity-enabled:focus { outline: none; }
.flickity-viewport { overflow: hidden; position: relative;cursor: -webkit-grab;cursor: grab;height:190px;}
.flickity-viewport.is-pointer-down { cursor: -webkit-grabbing; cursor: grabbing;}
.flickity-slider { position: absolute;width: 100%; height: 100%;}
.flickity-page-dots { position:relative;width: 100%;bottom: 20px; padding: 0; margin: 0; list-style: none;text-align: center;line-height: 1;z-index: 1;
}
.flickity-page-dots .dot {display: inline-block; width: 8px;height: 8px;margin: 0 5px; background: #ccc;border-radius: 50%;cursor: pointer;}
.flickity-page-dots .dot.is-selected {  background: #6FCF1A;}
.content-wrap {max-width: 900px;bottom:-3% ; width: 90%; left:5%; height:25%; text-align: center; position: absolute;}
.hero-gallery__cell {width: 100%; height: 190px;background: #fff;}
.hero-gallery .tagline {font-size: 1.4em; margin: 0;}
.hero-gallery__cell ul li{float: left;width: 20%;text-align: center;height: 85px;}
.hero-gallery__cell ul li a{display: block;width: 100%;height: 100%;}
.hero-gallery__cell ul li a img{padding-top: 10px;}
.hero-gallery__cell ul li a p{color: #333333;}


.index_center_box{width: 100%;height: 100px;}
.index_center{padding: 20px 0;}
.index_center p{ height: 30px;line-height: 30px;text-align: right;color: #666; padding-right: 40px;}
.index_center p span{color: #6AC5B6;}
.index_center h6{ height: 30px;line-height: 30px;text-align: right;color: #666; padding-right: 20px;font-weight: normal;font-size: 1em;}
.index_center h6 span{color: #6AC5B6;}
.index_main_box{height: 180px;background: #fff;}
.index_main_left,.index_main_right{height: 180px;float: left;width: 50%;position: relative;}
.index_main_left img{position: absolute;bottom: 0;left: 10%;width: 150px;}
.index_main_left h5{padding-top: 20px;color: #F2A94A;font-size: 1em;line-height: 28px;padding-left: 10px;}
.index_main_left p{color: #666;font-size: 0.8em;line-height: 28px;padding-left: 10px;}
.index_main_right_t,.index_main_right_b{ height: 90px;position: relative;}
.index_main_right_t img{ position: absolute;height: 80%;right: 0;top: 10%;z-index: 1;}
.index_main_right_t h5{padding-top: 20px;color: #6AC5B6;font-size: 1em;line-height: 24px;padding-left: 10px;}
.index_main_right_t h6{padding-top: 20px;color: #64BAED;font-size: 1em;line-height: 24px;padding-left: 10px;}
.index_main_right_t p{color: #666;line-height: 24px;padding-left: 10px;z-index: 99;position: absolute;font-size: 0.8em;}

.index_list_box{padding:0px 10px; }
.index_list_box ul li{width: 48%;float: left;border-radius: 0 0 10px 10px;text-align: center;margin: 0 1%; background: #fff;margin-bottom: 10px;}
.index_list_box ul li img{width: 100%;}
.index_list_box ul li p{padding:0 10px;color:#333333;margin-bottom: 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.index_list_box ul li p span{color: #e12841;margin: 0 3px;}
.index_list_box ul li p b{color: #999;text-decoration:line-through;margin: 0 3px;}
.index_feng{margin: 20px 15px 4px 15px; position: relative; height: 20px;}
.index_feng p{border-bottom: 1px solid #999999;}
.index_feng p span{background: rgb(240, 240, 240);color:#999;display: block;width: 30%;position: absolute;left: 35%;text-align: center;top: -10px;}

.nearby_top{height: 50px;text-align: center;background: #008CEE;position: fixed; width: 100%;top: 0; z-index: 99;}
.nearby_top h1{width: 100%;line-height: 50px; color: #fff;font-size: 1.2em;margin: 0;}
.index_back{display: block;position: absolute;width: 14px;height: 25px;left: 15px;top: 13px;}
.index_empty{display: block;position: absolute;right: 10px;top: 10px; color: #fff;line-height: 30px;}
.nearby_box{ background: #fff;padding:0 10px;display:flex;display:-webkit-flex;}
.nearbt_lf{-webkit-flex:1;flex:1;height: 150px;}
.nearbt_lf img{width: 110px;height: 110px; margin-top: 16px;}
.nearbt_rt{-webkit-flex:2;flex:2;height: 150px; padding-left: 4px;position: relative;}
.nearbt_rt h6{font-size: 1em;line-height: 24px;color: #333;width: 100%; height: 24px;margin-top: 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.nearbt_rt h6 i{float: left;font-weight: 600;display: block;font-style: normal;width: 70%;color:#333;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;height: 24px;line-height: 24px;}
.nearbt_rt h6 span{float: left;display: block;width: 30%;height: 24px;line-height: 24px;font-size: 0.6em;text-align: right;color:#666;}
.nearbt_rt h5{height: 20px;line-height: 20px;margin-top: 4px;}
.nearbt_rt h5 img{margin-right:4px;}
.nearbt_rt p{font-size: 0.9em;line-height: 22px;color: #6C6C6C;padding: 4px 0;}
.nearbt_rt h4{ position: absolute;bottom: 15px;color: #6C6C6C;font-size: 0.9em;width: 100%;height: 24px; line-height: 24px;}
.nearbt_rt h4 b{ color: red; font-size: 1.2em;margin-right: 10px;}
.nearbt_rt h4 span{float: right;font-size: 0.8em;}


.shopcar_box{background: #fff; margin-top: 20px;padding: 20px 10px 0 10px;}
.shopcar_top{height: 40px;line-height: 40px; color: #666;border-bottom: 1px solid #ccc;position: relative;}
.shopcar_top img{  margin: 12px 10px 12px 34px;float: left;}
.shopcar_top img{height: 16px;width: 18px;}
.shopcar_center{height: 100px;border-bottom:1px dashed #ccc;display:flex;display:-webkit-flex;}
.shopcar_center1{-webkit-flex:1;flex:1;}
.shopcar_center2{-webkit-flex:2;flex:2;}
.shopcar_center3{-webkit-flex:5;flex:5; width: 150px;}
.shopcar_center4{-webkit-flex:3;flex:3; text-align: center;}
.shopcar_center2 img{width: 80px;height: 80px; margin-top: 10px;}
.shopcar_center3 h6{font-size: 1em;color: #333;margin-top: 10px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; height: 24px;}
.shopcar_center3 p{color: #6c6c6c; padding-left: 4px;font-size: 0.9em;margin-top:4px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.shopcar_center3 h5{margin-top: 4px;color: red; font-size: 1.2em;padding-left: 4px;}
.shopcar_center3 h5 span{ margin-left: 6px;font-size: 0.7em; color: #A6A6A6;text-decoration: line-through;}
.shopcar_center4 a{display: block;height: 30px;width: 100%; margin-top: 10px;}
.gw_num{width: 85px;line-height: 26px;overflow: hidden; margin-top: 10px;margin-left: 10px;}
.gw_num span{display: block;height: 26px;width: 26px;float: left;color: #7A7979;text-align: center;cursor: pointer;font-size: 1.5em;line-height: 22px;}
.gw_num .num{margin: 0;padding: 0;height: 26px;display: block;float: left;color: red;text-align: center;width: 32px;font-style: normal;font-size: 1.2em;line-height: 26px;border: 0;}
.gw_num span.add{float: left;border-right: 0;}


.shop_price_box{position: fixed;display:flex;display:-webkit-flex;bottom: 61px;width: 100%;height: 60px;background: #fff;border-top: 1px solid #ccc;}
.shop_price_l{-webkit-flex:1;flex:1;height: 60px;}
.shop_price_c{-webkit-flex:2;flex:2;height: 60px;}
.shop_price_r{-webkit-flex:2;flex:2;height: 60px; position: relative;}
.shop_price_l label{position: absolute;left: 34px;top: 18px; color: #666;}
.shop_price_c p{margin-top: 8px;font-size: 0.9em;color: #666;}
.shop_price_c p b{color: red;}
.shop_price_c p span{padding-left: 40px;}
.shop_price_r input{position: absolute!important; right: 10px;height: 34px;width: 100px;border-radius: 15px!important;top: 13px;color: #fff!important;background: #008CEE!important;}


.delete_box{position: absolute;width: 100%;height: 100%;top: 0;}
.delete_bj{position: absolute;z-index: 100;width: 100%;height: 100%;background: #000;opacity: 0.5;}
.delete_fs{height: 80px;margin-top: 200px;border-radius: 10px 10px 0 0;background: #fff;z-index: 101; position: absolute; width: 60%;left: 20%;}
.delete_fs h6{height: 39px;width: 100%;margin: 0;text-align: center;font-size: 1.2em;line-height:39px;color: #666;border-bottom: 1px solid #ccc;}
.delete_fs p{width: 100%;height: 40px;}
.delete_fs_tp1{float: left;width: 49%;height: 40px;background:none;color: #7EC420;margin: 0!important; padding: 0!important; border: none!important;border-radius: inherit!important;border-right: 1px solid #ccc!important;}
.delete_fs_tp2{float: left;width: 49%;height: 40px;background:none;color: red!important;margin: 0!important; padding: 0!important; border: none!important;border-radius: inherit!important;}


.details_img{position: relative;background:url(../img/p1.png) no-repeat;background-position: 50% 50%; background-size: cover;width: 100%;height: 300px;}
.details_img img{width: 100%;}
.details_top{background: #fff;padding: 10px 20px;}
.details_top h6{font-size: 1em;color: #666;line-height: 32px;font-weight: 600;}
.details_top p{line-height: 32px;font-size: 1.5em;color: red;}
.details_top p span{font-size: 0.6em;color: #666;margin-left: 6px;}
.details_top h5{color: #666;line-height: 24px;}
.details_top h5 span{margin-left: 80px;}
.details_center{padding:0 10px ; background: #fff;margin-top: 10px;}
.details_center_t h1 img{float: left;width:50px;height: 50px;border-radius: 5px;margin-top: 5px;margin-right: 20px; }
.details_center_t h1{height: 60px;color: #333;line-height: 60px;font-size: 1.2em;}
.details_main{display:flex;display:-webkit-flex;height: 70px;padding: 10px 0;background: #fff;}
.details_main_l{-webkit-flex:1;flex:1;height: 70px;text-align: center;}
.details_main_c{-webkit-flex:1;flex:1;height: 70px;text-align: center;}
.details_main_r{-webkit-flex:1;flex:1;height: 70px;text-align: center;}
.details_main_l p,.details_main_c p,.details_main_r p{color: #333;line-height: 30px;margin: 0;}
.details_main_l h5,.details_main_c h5,.details_main_r h5{font-size: 1em;color: #666;margin: 0;}
.details_nav{display:flex;display:-webkit-flex;height: 60px;position: fixed;bottom: 0;background: #fff;width: 100%;z-index: 99;}
.details_nav1{-webkit-flex:2;flex:2;height: 60px;text-align: center;}
.details_nav2{-webkit-flex:2;flex:2;height: 60px;text-align: center;}
.details_nav3{-webkit-flex:7;flex:7;height: 60px;text-align: center;}
.details_nav1 p,.details_nav2 p{color: #666;}
.details_nav1 img,.details_nav2 img{margin-top: 8px;}
.details_nav3 input{height: 60px;width: 100%;color: #fff;font-size: 1.3em;background: #008CEE;}

.order_ly{height: 50px;margin-top: 20px;background: #fff;padding:0 15px;display:flex;display:-webkit-flex;}
.order_ly p{-webkit-flex:2;flex:2;line-height: 50px;font-size: 0.8em;color: #333;}
.order_ly input{-webkit-flex:4;flex:4;line-height: 50px!important;height: 50px!important; margin: 0!important;padding: 0!important;border: none!important;font-size: 0.8em;}
.order_bottom{height: 50px;display:flex;display:-webkit-flex;position: fixed;bottom: 0;background: #fff;width: 100%;z-index: 99;}
.order_bottom p{-webkit-flex:4;flex:4;line-height: 50px;font-size: 1em;text-align: right;padding-right: 20px;color: #333;}
.order_bottom p span{color: red;}
.order_bottom input{-webkit-flex:2;flex:2;line-height: 50px;font-size: 1.2em;background: #008CEE; color: #fff;}
.order_top{height: 80px;background:#008CEE; width: 100%;}
.order_top a{display: block;width: 100%;height: 80px;line-height: 80px;color: #fff;font-size: 1.2em;}
.order_top_r{float: right;height: 30px; margin: 25px 10px;}
.order_top_l{float: left;margin: 25px 15px;}

.contacts_box{ background: #fff;}
.contacts_box h6{font-size: 1em;color: #333;line-height: 32px;padding:0 15px;}
.contacts_box h6 span{float: right;}
.contacts_box p{line-height: 24px; border-bottom: 1px solid #ccc;padding:0 15px;padding-bottom: 5px;}
.contacts_box h5{height: 50px;background: #fff;padding: 4px 15px;line-height: 50px;font-size: 1em;}
.contacts_it2{  float: right;height: 40px;margin: 8px 4px;width: 70px;border-radius: 5px;color: #fff; background: #008CEE;}

.goods_top{display:flex;display:-webkit-flex;position: fixed;top: 50px;background: #fff;width: 100%;z-index: 99;}
.goods_top a{-webkit-flex:1;flex:1;text-align: center;display: block;color: #333;}
.goods_jg{border-left: 1px solid #ccc;border-right: 1px solid #ccc;}

.add_box{width: 100%;margin-bottom: 10px;    position: relative;}
.add_box p{display:flex;display:-webkit-flex;margin: 0;font-size: 1em;line-height: 50px;border-bottom: 1px solid #eee;padding:0 15px;background: #fff;}
.add_box p span{-webkit-flex:1;flex:1;}
.add_box p input{-webkit-flex:5;flex:5;font-size: 1em;color: #333;margin: 0;padding: 0;border: none;height: 50px}
.add_tijiao{height: 50px;width: 100%;margin-top: 20px;}
.add_tijiao input{width: 100%;height: 50px;color: #fff;background: #008CEE;font-size: 1.4em;text-align: center;}

.people_tittle{width: 100%;height: 160px;position: relative;margin-top: 50px;background:url(../img/banner-2.png) no-repeat;background-position: 50% 50%; background-size: cover;}
.people_tittle_box{height: 80px;padding: 20px 40px 0 40px;    margin-bottom: 20px;}
.people_tittle_box a img{float: left;width: 60px;height: 60px;border-radius: 30px;margin-right: 8px;}
.people_tittle_box p{line-height: 30px;color: #fff;margin-bottom: 0;}
.people_tittle_list{display:flex;display:-webkit-flex;height: 60px;width: 100%;text-align: center;position: relative;}
.people_tittle_list a{display: block;height: 60px;color: #fff;-webkit-flex:1;flex:1;z-index: 10;border-left: 1px solid #ccc;}
.people_list_zhe{position: absolute;width: 100%;height: 60px;background: #000;opacity: 0.4;z-index: 2;}
.people_tittle_list a p{line-height: 30px;font-size: 1em;color: #fff;margin-bottom: 0;}
.people_tittle_list a h6{line-height: 30px;font-size: 0.8em;color: #fff;margin: 0;}

.people_order{height: 130px;padding: 0 10px 5px 10px;background: #fff;}
.people_od{display: block;height: 59px;width: 100%;border-bottom: 1px solid #ccc;line-height: 59px;color: #333;}
.peo_order_l{float: left;height: 30px;margin: 14px 10px;}
.peo_order_r{float: right;height: 24px;margin: 17px 10px;}
.people_order ul li{float: left;width: 25%;height: 70px;text-align: center;}
.people_order ul li a{display: block;width: 100%;height: 70px;}
.people_order ul li a img{height: 34px;margin-top: 10px;}
.people_order ul li a p{line-height: 22px;color: #666;}
.people_order_list{background: #fff;margin-top: 10px;padding: 20px 10px;}
.people_order_list ul li{float: left;width: 25%;height: 100px;text-align: center;}
.people_order_list ul li a img{height: 60px;margin-top: 10px;}
.people_order_list ul li a p{line-height: 22px;color: #333;font-size: 0.8em;font-weight: 600;}
.people_order_list ul li a{display: block;width: 100%;height: 100px;}
.index_xiaox{display: block;position: absolute;width: 22px;height: 22px;right: 50px;top: 13px;}
.index_shez{display: block;position: absolute;width: 22px;height: 22px;right: 15px;top: 13px;}



.bonus_box{width: 100%;height: 110px;background:url(../img/beij.png) no-repeat;background-position: 50% 50%; background-size: cover;}
.bonus_box p{padding-top: 30px;line-height: 30px;color: #fff;text-align: center;width: 100%;font-size: 1em;}
.bonus_box h6{line-height: 30px;color: #fff;text-align: center;width: 100%;font-size: 1em;}
.goods_wu{margin: 20px 0;width: 100%;text-align: center;font-size: 1.2em;color: #333;}

.people_date_box{background: #fff;margin-top: 10px;}
.people_date_box h5{height: 100px;padding: 0 15px;border-bottom: 1px solid #eee;line-height: 100px;font-size: 1em;}
.people_date_box h5 a{display: block;width: 100%;height: 100%;color: #666;}
.date_img1{float: right;width: 70px;height: 70px;border-radius: 35px;margin: 15px;}
.date_img2{float: right;margin-top: 38px;}
.people_date_box p{line-height: 60px;border-bottom: 1px solid #eee; padding: 0 15px;}
.people_date_box p a{display: block;width: 100%;height: 100%;color: #666;display:flex;display:-webkit-flex;}
.people_date_box p span{-webkit-flex:1;flex:1;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.people_date_box p i{-webkit-flex:1;flex:1;text-align: right;}
.people_date_box p span b{padding-left: 10px;color: #333;}
.people_date_box p img{margin-top: 18px;}

.index_bd{position: absolute;right: 15px;display: block;height: 24px;top: 13px;color: #fff;}
.place_top{height: 80px;background: #008CEE;padding: 0 20px;}
.place_top p{padding-top: 10px;line-height: 30px;color: #fff;}
.place_top h6{line-height: 30px;color: #fff;font-size: 1em;}
.place_main{margin: 10px 0;padding: 0 10px;background: #fff;}
.place_main h6{height: 60px;display:flex;display:-webkit-flex;width: 100%;line-height: 60px;font-size: 1em;color: #000;border-bottom: 1px solid #eee;}
.place_main h6 span{-webkit-flex:2;flex:2;height: 60px;}
.place_main h6 input{-webkit-flex:5;flex:5;height: 59px!important;margin: 0!important;border: none!important;width: auto!important;padding: 0!important;font-size: 1em!important;}
.place_main h6 a{-webkit-flex:1;flex:1;height: 59px;text-align: right;}
.place_main p{height: 60px;display:flex;display:-webkit-flex;width: 100%;line-height:60px;font-size: 1em;color: #000;border-bottom: 1px solid #eee;}
.place_main p span{-webkit-flex:2;flex:2;height: 60px;}
.place_main p input{-webkit-flex:6;flex:6;height: 60px;height: 59px!important;margin: 0!important;border: none!important;width: auto!important;padding: 0!important;font-size: 1em!important;}
.place_bottom{height: 30px;position: fixed;bottom: 60px;width: 100%;z-index: 99;line-height: 30px;background: #fff;}
.place_bottom a{display: block;width: 100%;height: 100%;color: #333;}
.place_bottom a span{border: 1px solid #008CEE;color: #008CEE;width: 20px;height: 20px;display: block;float: left;text-align: center;border-radius: 11px;margin: 5px 10px;line-height: 20px;}
.detailed_l{float: left;width: 50%;height: 110px;}

/* 选项卡 */

.panel_main{padding: 0; text-align: center;margin-bottom: 20px;}
.tab {width: 400px;margin: 30px auto;}
.tab-title { height: 40px; font-size: 0;background-color: #f5f5f5;}
.tab-title .item { background: #f0f0f0;display: inline-block;width: 50%;height:40px;line-height: 40px;text-align: center;color: #333;font-size: 16px;}
.tab-title .item-cur {color: #fff;background-color: #008CEE;}
.tab-cont {position: relative;}
.tab-cont__wrap { position: absolute;width: 100%;}
.tab-cont .item {width: 100%;color: #333;margin: 0;}
#outer {width: 100%;}
#taab {overflow:hidden;zoom:1;}
#taab li {float: left;color: #333;height: 40px;cursor: pointer;line-height: 40px;width: 50%;background: #f0f0f0;text-align: center;}
#taab li.current {color:#fff;background:#008CEE;}
#content {border-top-width:0;}
#content ul {display:none;}
.tabs {width: 100%;float: none;list-style: none;position: relative;}
.tabs li {float: left;display: block;width: 50%;text-align:center;}
.tabs input[type="radio"] { position: absolute;top: -9999px; left: -9999px;}
.tabs label {display: block;font-size: 1em;font-weight: normal;color: #333;text-transform: uppercase;background: #f0f0f0;cursor: pointer;line-height: 40px;position: relative; -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.tabs .tab-content {z-index: 2;display: none;overflow: hidden;width: 100%;line-height: 25px; position: absolute;left: 0;background: #fff;color: #333;text-align: left;}
.tabs [id^="tab"]:checked + label {top: 0;background: #008CEE;color: #fff;}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {display: block;}


.merchant_name{padding: 0 10px;background: #fff;}
.merchant_name h5{line-height: 50px;border-bottom: 1px solid #eee;font-size: 1em;color: #333}
.merchant_name p{display: flex;display:-webkit-flex;line-height: 50px;border-bottom: 1px solid #eee;width: 100%; color: #333;margin-bottom: 0;}
.merchant_name p span{-webkit-flex:1;flex:1;height: 50px;}
.merchant_name p span img{float: left;margin: 13px;}
.merchant_name p b{-webkit-flex:5;flex:5;height: 50px;}
.merchant_name p a{-webkit-flex:1;flex:1;height: 50px;}
.merchant_name p a img{float: right;margin: 13px;}
.merchant_jl h6{line-height: 50px;margin: 10px 0;font-size: 1em;color: #333;padding-left: 10px;background: #fff;}
.merchant_list{margin: 10px;}
.merchant_list ul li{float: left;width: 48%;text-align: center;margin-bottom: 10px;margin:0 1% 10px 1%;background: #fff;}
.merchant_list ul li img{width: 100%;}
.merchant_list ul li a{display: block;width: 100%;height: 100%;}
.merchant_list ul li a p{text-align: left;font-size: 0.8em;color: #666;line-height: 24px;padding-left: 4px;}
.merchant_list ul li a h5{text-align: left;line-height: 24px; color: red;font-size: 0.8em;padding-left: 4px;}
.merchant_list ul li a h5 span{float: right;padding-right: 4px;color: #ccc;}

.product_bt{width: 100%!important;font-size:1em!important;line-height: 40px!important;border:none!important;border-top: 1px solid #ccc!important;color: #333!important;}
.add_goods_top{height: 80px;background: #fff;padding: 10px;border-bottom: 1px solid #ccc;}
.add_goods_top input{border: none!important;}
.add_goods_img{background: #fff;padding: 10px;}
.add_goods_img ul li{float: left;width: 25%;}
.add_goods_img ul li input{width:95%;height: 80px;border:1px dashed #999;padding: 0; color: #999;}
.add_goods_main{background: #fff;padding: 0 10px;margin: 10px 0;}
.add_goods_main p{line-height: 50px;border-bottom: 1px solid #eee;display: flex;display:-webkit-flex;margin: 0;}
.add_goods_main p span{-webkit-flex:2;flex:2;height: 60px;line-height: 60px;font-size: 1em;color: #000;}
.add_goods_main p input{-webkit-flex:6;flex:6;height: 60px;border: none;text-align: right;margin: 0;padding: 0;}
.add_goods_bm{margin: 20px 30px;}
.add_goods_bm input{width: 100%;height: 40px;}

.manage_img{position: relative;background:url(../img/beij.png) no-repeat;background-position: 50% 50%; background-size: cover;width: 100%;height: 210px;}
.manage_tittle{height: 140px;padding-top: 20px;text-align: center;}
.manage_tittle p{font-size: 1.2em;color: #fff;line-height: 30px;text-align: center;margin: 0;}
.manage_tittle img{width: 80px;height: 80px;border-radius: 40px;}
.manage_sl{height: 60px;margin-top: 10px;position: relative;display: flex;display:-webkit-flex;}
.manage_zhe{position: absolute;width: 100%;height: 100%;background: #fff;opacity: 0.4;z-index: 1}
.manage_sl a{-webkit-flex:1;flex:1; height: 60px;text-align: center;z-index: 99;border-right: 1px solid #fff;}
.manage_sl a p,.manage_sl a h6{color: #000;margin: 0;line-height: 30px;font-size: 0.8em;}
.manage_sl a h6 img{margin-right: 10px;}
.manage_list{margin-top: 20px;padding: 0 10px;background: #fff;}
.manage_list a{display: flex;display:-webkit-flex;margin: 10px 0;line-height: 50px;width: 100%;height: 50px;border-bottom: 1px solid #eee;}
.manage_list a span{-webkit-flex:1;flex:1; line-height: 50px;height: 50px;}
.manage_list a span img{float: right;margin: 15px 10px;}
.manage_list a b{-webkit-flex:8;flex:8;line-height: 50px;height: 50px;color: #666;font-size: 1em;font-weight: normal;}
.manage_list a i{-webkit-flex:1;flex:1; line-height: 50px;height: 50px;}
.manage_list a i img{float: right;margin: 13px 10px;}
.manage_password{background: #fff;height: 60px;padding: 0 10px; line-height: 60px;color: #666;}

.add_box h6{display:flex;display:-webkit-flex;margin: 0;line-height: 50px;font-size:1em;border-bottom: 1px solid #eee;padding:0 15px;background: #fff;}
.add_box h6 span{-webkit-flex:1;flex:1;}
.add_box h6 input{-webkit-flex:3;flex:3;font-size: 0.8em;color: #333;margin: 0;padding: 0;height: 50px;border: none;}
.add_box a button{-webkit-flex:3;flex:3;font-size: 0.8em;margin: 0;padding: 0;height: 50px;border: none;text-align: left;    color: #666;}
.add_box a{display:flex;display:-webkit-flex;line-height: 50px;font-size:1em;border-bottom: 1px solid #eee;padding:0 15px;background: #fff;}
.add_box a span{-webkit-flex:1;flex:1;height: 50px;line-height: 50px;margin: 0;color: #8f8f94;text-align: left;}
.add_box a b{-webkit-flex:1;flex:1;height: 50px;line-height: 50px;}
.add_box a i{-webkit-flex:2;flex:2;font-size:0.8em;color: #666;margin: 0;padding: 0;height: 50px;border: none;font-style: normal;}
.add_box a img{position: absolute; right: 10px;top: 10px;}
.add_box h5{display:flex;display:-webkit-flex;margin: 0;line-height: 50px;font-size:1em;border-bottom: 1px solid #eee;padding:0 15px;background: #fff;}
.add_box h5 span{-webkit-flex: 1;flex: 1;}
.add_box h5 b{-webkit-flex:3;flex:3;font-size: 1em;color: #008CEE;margin: 0;padding: 0;height: 50px;border: none;}

.nearbt_rt h4 a{float: right;display: block;width: 24px;height: 24px;}
.share_box{margin: 20px 40px;background: #fff;border-radius: 15px;padding: 6px;}
.share_top{ height: 70px;padding: 10px;}
.share_top img{float: left;margin-right: 10px;}
.share_top h6{margin: 0;height: 50px;line-height: 50px;font-size: 1em;color: #666;}
.share_erweima{padding: 0 20px;margin-top: 10px;}
.share_erweima img{width: 100%;}
.share_bm{text-align: center;margin-top: 12px;}
.share_bm h5{line-height: 30px;color: #666;font-size: 0.8em;}
.share_bm_list{height: 50px;padding: 0 20px;}
.share_bm_list ul li{float: left;width: 25%;text-align: center;height: 50px;}
.share_bm_list ul li a{display: block;width: 100%;height: 100%;}
.mui-media-body h5{line-height: 24px;font-size: 0.8em;color: #000;margin: 0;}
.mui-media-body h5 span{float: right;}

.shop_car_zf{position: absolute;width: 100%;height: 100%;top: 0;}
.shop_car_zhe{position: absolute;z-index: 100;width: 100%;height: 100%;background: #000;opacity: 0.5;}
.shop_car_box{background: #fff;padding: 10px 0;border-radius: 10px;z-index: 101; position: relative; width: 70%;left: 15%;top: 30%;text-align: center;}
.shop_car_box h4{line-height: 40px;margin: 0;}
.shop_car_box h4 a{display: block;float: right;width: 40px;height: 40px;color: #ccc;position: absolute;top: 6px;right: 0;font-size: 1.5em;}
.shop_car_box ul li{height:34px;line-height: 34px;border-bottom: 1px solid #eee;font-size: 0.8em;}
.shop_car1,.shop_car2{background: #F0EFF5;border: none;}
.shop_car2 a{color: #000; }
.shop_car1 a{font-size: 1.2em;color: red;}
.shop_car{display: flex;display:-webkit-flex;}
.shop_car span{-webkit-flex:1.3;flex:1.3; height: 34px; text-align: right;;}
.shop_car span img{width: 28px;height: 28px;margin-top: 2px; margin-right: 8px;}
.shop_car b{-webkit-flex:1.9;flex:1.9;height: 34px; text-align: left;color: #666;font-weight: normal;}

.represen_box{height: 50px;margin: 20px;background:#EFEFF4;border-radius: 5px;line-height: 50px; }
.represen_box img{float: left;margin: 10px 5px;}
.represen_box span{color: red;margin-left: 4px;}
.represen_box input{float: right;margin: 8px 10px;}
.represen_bm{height: 50px;margin: 0px 40px;background:#007aff;line-height: 50px;text-align: center;display: flex;display:-webkit-flex;}
.represen_bm {font-size: 0.6em;color: #fff;}
.represen_bm span{height: 50px;line-height: 50px;-webkit-flex:1.5;flex:1.5;text-align: right;}
.represen_bm span input{float: right;width: 14px;height: 14px;margin: 18px 4px;}
.represen_bm label{-webkit-flex:3;flex:3;text-align: left;}
.manage_list_close{text-align: center;color: #333;}
.manage_list_close{width: 100%;height: 40px;}

.help_top{height: 50px;line-height: 50px;width: 100%;background: #008CEE;border-top: 1px solid #fff;}
.help_top a{padding: 0; margin: 0;background: none;border: none;height: 50px;line-height: 50px;width: 50px;float: right;}
.help_top a img{margin-top: 10px;}
.mui-popover{width: 120px!important;text-align: center;}
.mui-table-view-cell{font-size: 0.8em;}
.help_tittle{height: 50px;border-bottom: 1px solid #ccc;background: #fff;line-height: 50px;font-size: 1em;padding:0 10px;font-weight: 600;}
.help_main{padding: 10px;border-bottom: 1px solid #ccc;}
.help_main h6{height:30px;font-size: 0.8em; color: #008CEE;margin: 0;line-height: 30px;font-weight: 600; }
.help_main h6 span{float: right;text-align: right;padding:0 5px;margin: 0 2px;color: #fff;border-radius: 5px;height: 20px; line-height: 20px;font-weight: normal;}
.help_span1{background: #EA644A;}
.help_span2{background: #03B8CF;}
.help_span3{background: #38B03F;}
.help_main a{line-height: 24px; margin: 10px 0;display: block;color: #333;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.help_main p{text-align: right;}
.help_tittlee h5{ height: 40px;line-height: 40px;color: #333;margin: 0;font-size: 0.8em;padding: 0 10px;}
.help_tittlee h5 span{margin-left: 4px;}
.help_main h1{font-size: 1.5em;height: 40px;line-height: 40px;}
.help_nr{margin:30px 10px;}

.reward_img{position: relative;background:url(../img/beijing.png) no-repeat;background-position: 50% 50%; background-size: cover;width: 100%;height: 180px;}
.reward_img h4,.reward_img h2{margin: 0;color: #fff;text-align: center;}
.reward_img h4{padding-top: 60px;line-height: 30px;}
.reward_img h2{line-height: 30px;}
.reward_tittle {text-align: center;}
.reward_feng{margin: 20px 60px 4px 60px; position: relative; height: 20px;}
.reward_feng p{border-bottom: 2px solid #F59608;}
.reward_feng p span{background: #A30B06;color:#F59608;display: block;width: 60%;position: absolute;left: 20%;text-align: center;top: -10px;}
.reward_jl{margin: 20px 10px;}
.reward_jl ul li{width: 50%;float: left;position: relative;}
.reward_jl ul li img{width: 95%;}
.reward_jl ul li p{margin: 0;text-align: center;width: 100%;line-height: 30px;color: #FFE382;font-size: 1.2em;font-weight: 600;}
.reward_jl ul li a b{position: absolute;top: 47%;left: 34%;font-size: 1.2em;color: #FFE382;width: 40%;text-align: center;}
.reward_qs{margin:20px 10px 90px 0;}


.apply_people label{height: 30px; line-height: 30px;padding-left: 15px;font-size: 0.9em;color: #666;}
.apply_people input{border: none!important;padding: 15px!important;margin: 0!important;height: 50px!important;font-size: 0.9em;}
.apply_people a{background: #fff; color: #666;font-size: 0.8em;text-align: left;padding-left: 15px;border: none;margin-bottom: 0;}
.apply_people a img{float: right;height: 19px;    margin-right: 10px;}





.order_top_after{height: 80px;background:#008CEE;}
.order_top_after a{ width: 100%;display: flex;display:-webkit-flex;}
.order_top_after_l{-webkit-flex:1;flex:1;height: 80px;}
.order_top_after_c{-webkit-flex:4;flex:4;height: 80px;}
.order_top_after_c h6,.order_top_after_c p{color: #fff;}
.order_top_after_r{-webkit-flex:0.6;flex:0.6;height: 80px;}
.order_top_after_c h6 span{float: right;}
.apply_peoplee{width: 100%;display: flex;display:-webkit-flex;background: #fff;}
.apply_peoplee a{text-align: center;padding: 0;margin: 0;-webkit-flex:1;flex:1;height: 50px;line-height: 50px;background: none;color: #666;font-size: 0.6em;border: none;border-right: 1px solid #eee;}
.apply_people_tit{padding-left: 15px;font-size: 0.8em;color: #666;line-height: 30px;}
.mui-media-body p,.mui-media-body h6{color: #000;}
.apply_chuan{width: 100%;height: 110px;padding: 5px 15px; background: #fff;}
.apply_chuan button{width: 100px;height: 100px;font-size: 3em;color: #9E9E9E;border: 1px dashed #9E9E9E;margin-right: 10px;}
.apply_qr{margin: 10px 15px;}
.apply_qr p a{font-size: 0.6em;}
.apply_tj{height: 50px;margin: 20px 30px;}
.apply_tj button{width: 100%;background:#008CEE;color: #fff; }

.add_box a{display: flex;display: -webkit-flex;margin: 0; line-height: 50px;font-size: 1em;border:none;border-bottom: 1px solid #eee;padding: 0 15px; background: #fff;}
.line_order_img{vertical-align: middle;}
.nikename_box{height: 80px;background: #fff;}
.nikename_box input{border: none!important;color: #000!important;}
.nikename_bt{margin: 20px 30px;}
.nikename_bt button{width: 100%;background:#008CEE;color: #fff;height: 50px;font-size: 1.2em; }

.card_box{height: 80px;border-bottom: 1px solid #ccc;padding: 0 15px;}
.card_box p{font-size: 1em;color: #000;}
.card_box p span{float: right;}
.card_box h6{line-height: 22px;color: #000;font-size: 0.9em;}

.add_box_bank{width: 100%;margin-bottom: 10px;}
.add_box_bank p{display:flex;display:-webkit-flex;margin: 0;font-size: 1em;line-height: 50px;border-bottom: 1px solid #eee;padding:0 15px;background: #fff;}
.add_box_bank p span{-webkit-flex:2;flex:2;  color: #333;}
.add_box_bank p input{-webkit-flex:5;flex:5;font-size: 0.8em;color: #333;margin: 0;padding: 0;border: none;height: 50px;}
.add_box_bank p a{-webkit-flex:5;flex:5;font-size: 0.8em;margin: 0;padding: 0;border: none;height: 50px;text-align: left;color: #666;background: none;line-height: 50px;}

.roder_hj{line-height: 40px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;width: 100%;background: #fff;padding: 0 10px;text-align: right;}
.roder_hj span{font-size: 0.8em;margin-right: 8px;}
.order_bh{padding: 0 10px; line-height: 40px;color: #666;}
.roder_bt{padding: 0 10px; line-height: 60px;color: #666;background: #fff;text-align: right;}
.roder_bt button{ margin-top: 14px;background: #008CEE;color: #fff;}
.change_img{position: relative;background:url(../img/bj.png) no-repeat;background-position: 50% 50%; background-size: cover;width: 100%;height: 200px;text-align: center;}
.represen_box a{color: #333!important;display: block;width: 100%; height: 100%;}
.change_tit{width: 90px;margin-top: 20px;}
.change_img p{color: #fff;}
.change_img h4{color: #fff;font-size: 1.5em;}
.goods_top table{width: 100%;}
.goods_top table tr{height: 40px;border: 1px solid #ccc;}
.goods_top table th{height: 40px;border-right: 1px solid #ccc;}
.goods_top tbody tr td{border-right: 1px solid #ccc; text-align: center;}



.fication_box{display: flex;display: -webkit-flex;width: 100%;height: 50px;background: #fff;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.fication_one{width:20%;text-align: center;}
.fication_one{background: #fff;}
.fication_one p{color: #000;font-size: 0.8em;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; margin-bottom: 0;}
.fication_one img{margin-top: 4px;}
.fication_mian_box{width: 100%;border-top: 1px solid #ccc;background: #fff;}
.fication_mian_box ul{-webkit-flex-wrap:wrap;flex-wrap:wrap;display: -webkit-flex;display: flex;width: 100%;}
.fication_mian_box ul li{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 25%;border-right: 1px solid #eee;height: 40px;line-height: 40px;text-align: center;border-bottom: 1px solid #eee;color: #666;font-size: 0.8em;}
.fication_mian_bt{height: 50px;text-align: center;line-height: 50px;background: #fff;border-top: 1px solid #eee;}
.fication_mian_bt a{font-size: 0.8em;color: #008CEE;}
.fication{margin-top: 20px;}
.fication_one h5{margin-top: 15px;font-size: 0.8em;height: 20px;line-height: 20px;border-right: 1px solid #eee;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.mui-icon-arrowup{margin-top: 10px;}

        .chat_bottom_txt {
            height: 40px!important;
            line-height: 40px!important;
            font-size: 1em;
            color: #919191;
            background: #fff;
            padding: 5px 0 5px 2%!important;
            border-radius: 4px!important;
            font-family: 微软雅黑;
            margin: 0!important;
            -webkit-flex: 5;
            flex: 5;
        }
        
        .chat_bottom_fs {
            height: 40px;
            line-height: 40px;
            font-size: 1em;
            color: #fff;
            background: #4CC0F3;
            text-align: center;
            border-radius: 4px;
            font-family: 微软雅黑;
            -webkit-flex: 1;
            flex: 1;
        }
        
        .mui-bar-tab {
            display: flex !important;
            display: -webkit-flex !important;
            height: 40px!important;
            box-shadow: none!important;
        }
        
        .mui-bar-tab span {
            margin: 4px;
            -webkit-flex: 1;
            flex: 1;
            text-align: center;
        }
        
        .bq_tan {
            width: 100%;
            position: fixed;
            bottom: 42px;
            height: 140px;
            overflow: scroll;
            top: initial;
            background-color: #fff;
            padding-top: 15px;
            border-top: 1px solid #ccc;
        }
        
        .bq_tan ul {
            position: absolute;
            width: 100%;
            height: 100px;
            z-index: 100;
            font-size: 30px;
        }
        
        .bq_tan ul li {
            float: left;
            width: 16.6%;
            text-align: center;
            margin-bottom: 22px;
        }
        
        .bq_tan ul li span {
            width: 30px;
            height: 30px;
        }
        div.speech {
    float: left;
    margin: 10px 0;
    padding: 8px;
    table-layout: fixed;
    word-break: break-all;
    position: relative;
    background: -webkit-gradient( linear, 50% 0%, 50% 100%, from(#ffffff), color-stop(0.1, #ececec), color-stop(0.5, #dbdbdb), color-stop(0.9, #dcdcdc), to(#8c8c8c) );
    border: 1px solid #989898;
    border-radius: 8px;
}
div.speech:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 15px;
    top: -20px;
    border: 10px solid;
    border-color: transparent transparent #989898 transparent;
}
div.speech:after {
 content: '';
 position: absolute;
 width: 0;
 height: 0;
 left: 17px;
 top: -16px;
 border: 8px solid;
 border-color: transparent transparent #ffffff transparent;
}
div.speech.right {
 display: inline-block;
 margin-right: 10px;
 max-width: 75%;
 float: right;
 background: #F4FABC;
}
div.speech.right:before {
 content: '';
 position: absolute;
 width: 0;
 height: 0;
 top: 9px;
 bottom: auto;
 left: auto;
 right: -10px;
 border-width: 9px 0 9px 10px;
 border-color: transparent #989898;
}
div.speech.right:after {
 content: '';
 position: absolute;
 width: 0;
 height: 0;
 top: 10px;
 bottom: auto;
 left: auto;
 right: -8px;
 border-width: 8px 0 8px 9px;
 border-color: transparent #F4FABC;
}
div .left {
 display: inline-block;
 margin-left: 10px;
 max-width: 75%;
 position: relative;
 background: #fff;
}
div .left:before {
 content: '';
 position: absolute;
 width: 0;
 height: 0;
 top: 9px;
 bottom: auto;
 left: -10px;
 border-width: 9px 10px 9px 0;
 border-color: transparent #989898;
}
div .left:after {
 content: '';
 position: absolute;
 width: 0;
 height: 0;
 top: 10px;
 bottom: auto;
 left: -8px;
 border-width: 8px 9px 8px 0;
 border-color: transparent #fff;
}
.leftimg {
 float: left;
 margin-top: 10px;
}
.rightimg {
 float: right;
 margin-top: 10px;
}
.leftd {
 clear: both;
 float: left;
 margin-left: 10px;
}
.rightd {
 clear: both;
 float: right;
 margin-right: 10px;
}

.leftd_h{
 width: 39px;
 height: 39px;
 border-radius: 100%;
 display: block;
 float: left;
 overflow: hidden;
}

.leftd_h img{
 display: block;
 width: 100%;
 height: auto;
}
.rightd_h{
 width: 39px;
 height: 39px;
 border-radius: 100%;
 display: block;
 float: right;
 overflow: hidden;
}

.rightd_h img{
 display: block;
 width: 100%;
 height: auto;
}
.leftd_box b{height: 20px;
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: #666;
    font-weight: normal;
}
.rightd_box b{height: 20px;
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: #666;
    font-weight: normal;
}






@media screen and (max-width: 320px) {
.login_top{margin-top: 5px;text-align: center; color: #fff; font-size: 1.4em;}
.login_logo{text-align: center;margin-top: 30px;}
.login_input_box{margin: 30px 10% 10px 10%; height: 100px;   position: relative;}
.login_dl{margin: 10px 10% 10px 10%; height: 40px;}
.login_zc{margin: 10px 10% 10px 10%; height: 40px;}
.reg_ip2{float: left;width: 45%; height: 30px;margin-top: 15px; font-size: 0.6em;}
.index_center p{ height: 30px;line-height: 30px;text-align: right;color: #666; padding-right: 40px;font-size: 0.8em;}
.index_center h6{ height: 30px;line-height: 30px;text-align: right;color: #666; padding-right: 20px;font-weight: normal;font-size: 0.8em;}
.index_list_box ul li p{padding:0 10px;margin-bottom: 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; font-size: 0.7em;}
.nearbt_rt p{font-size: 0.6em;line-height: 22px;color: #6C6C6C;padding: 4px 0;}
.shopcar_center3 h6{font-size: 0.8em;color: #333;margin-top: 10px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; height: 24px;}
.shopcar_center3{-webkit-flex:4;flex:4; width: 130px;}
.order_ly p{-webkit-flex:2;flex:2;line-height: 50px;font-size: 0.6em;}
.order_ly input{-webkit-flex:3;flex:3;line-height: 50px;font-size: 0.6em;}
.place_main h6 span{-webkit-flex:2;flex:2;height: 60px; font-size: 0.8em!important;}
.place_main h6 input{-webkit-flex:4;flex:4;height: 60px;font-size: 0.8em!important;}
.place_main h6 a{-webkit-flex:1;flex:1;height: 60px;text-align: right;}
.place_main p{height: 60px;display:flex;display:-webkit-flex;width: 100%;line-height: 60px;font-size: 1em;color: #000;border-bottom: 1px solid #eee;}
.place_main p span{-webkit-flex:2;flex:2;height: 60px;font-size: 0.8em!important;}
.place_main p input{-webkit-flex:5;flex:5;height: 60px;font-size: 0.8em!important;}
.reward_feng{margin: 20px 40px 4px 40px; position: relative; height: 20px;}
.reward_jl ul li a b{position: absolute;top: 44%;left: 34%;font-size: 1.2em;color: #FFE382;width: 40%;text-align: center;}
.fication_mian_box ul li{width: 25%;border-right: 1px solid #eee;height: 40px;line-height: 40px;text-align: center;border-bottom: 1px solid #eee;color: #666;font-size: 0.6em;}
.fication_one h5{margin-top: 15px;font-size: 0.6em;height: 20px;}
}   
