<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>商家记录</title>
  <link rel="stylesheet" href="css/sta.css">
  <link href="css/mui.css" rel="stylesheet" type="text/css">
  <script src="js/mui.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/vue-router.js"></script>
  <script src="js/common.js"></script>
  <script src="js/config.js"></script>
  <style type="text/css">
    .place_close {
      position: absolute;
      top: 75px;
      right: 10px;
      z-index: 99;
    }

    .place_main {
      margin: 10px 0;
      padding: 0 10px;
      background: #fff;
      position: relative;
    }

    input[type=radio] {
      position: relative;
      width: 15px;
      height: 1px;
    }

    input[type=radio]::before,
    input[type=radio]::after {
      position: absolute;
      display: block;
      content: '';
      border-radius: 50%;
      transition: .3s all esae;
    }

    input[type=radio]::before {
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      border: 2px solid #008CEE;
    }

    input[type=radio]::after {
      top: 4px;
      left: 4px;
      width: 11px;
      height: 11px;
      background-color: #fff;
    }

    input[type=radio]:checked::before {
      border-color: 1px solid #008CEE;
    }

    input[type=radio]:checked::after {
      background-color: #008CEE;
    }

    .register_box h1 {
      font-size: 1.2em;
      line-height: 50px;
      background: #fff;
      text-align: center;
      color: #333;
      border-bottom: 1px solid #ccc;
    }

    .place_next {
      text-align: center;
      background: #fff;
    }

    .place_next p {
      line-height: 40px;
      color: #333;
      border-bottom: 1px solid #ccc;
      margin: 0!important;
    }

    .place_next input {
      display: block;
      width: 100%;
      text-align: center;
      height: 40px;
      border: none;
      border-bottom: 1px solid #ccc;
      margin: 0!important;
    }

    .reg_ip1 {
      padding: 0!important;
    }
  </style>
</head>

<body style="background:#f0f0f0;">
  <div id="app">
    <router-view></router-view>
  </div>


  <script type="text/template" id="index-page">
    <div class="index_box" style="margin-top:60px" id="app">
      <div class="nearby_top">
        <h1>商家记录</h1>
        <a class="index_back mui-action-back"><img src="img/back.png" alt="" width="100%" height="100%"></a>
        <a class="index_bd">报单明细</a>
      </div>

      <div class="place_top">
        <p>0.00</p>
        <h6>账户奖励</h6>
      </div>

      <div class="place_main" v-for="(item, k) in list">
        <h6><span>客户账号</span><input type="text" placeholder="输入客户账号或者扫描二维码" v-model.trim="item.account"><a><img src="img/sss.png" alt=""></a></h6>
        <p><span>产品描述</span><input type="text" placeholder="输入单笔交易名称" v-model.trim="item.desc"></p>
        <p><span>交易金额</span><input type="text" placeholder="输入单笔交易金额" v-model.trim.number="item.money"></p>
        <img src="img/shanc.png" @tap="remove(k)" class="place_close">
      </div>

      <!-- 底部-->
      <div class="place_bottom">
        <a @tap="add"><span>+</span>添加商品规格</a>
        <div class="clr"></div>
      </div>
      <div class="order_bottom">
        <input @tap="submit" type="submit" value="下一步">
      </div>
    </div>
  </script>

  <script type="text/template" id="nextstep-page">
    <div class="index_box" style="margin-top:50px">
      <div class="nearby_top">
        <h1>线下转账</h1>
        <a class="index_back" @tap="$router.go(-1)"><img src="img/back.png" alt="" width="100%" height="100%"></a>
      </div>
      <div class="register_box">
        <h1>批量报单：{{list.length}}单</h1>
        <div class="register_ip" style="border:none;margin-bottom:10px;">
          <p><span>手续费</span><input type="button" :value="fee" class="reg_ip1" style="background:none;"></p>
          <div class="clr"></div>
        </div>
        <div class="register_ip" style="border:none;margin-bottom:10px;">
          <p><span>支付密码</span><input type="password" placeholder="请输入支付密码" v-model="password" class="reg_ip1"></p>
          <div class="clr"></div>
        </div>
        <div class="register_ip" style="border:none;margin-bottom:10px;">
          <p><span>转账备注</span><input type="text" placeholder="请输入提示备注" v-model="mark" class="reg_ip1"></p>
          <div class="clr"></div>
        </div>
        <div class="register_ip" style="border:none;margin-bottom:10px;">
          <p><span>支付方式</span>
            <b><input type="radio" name="demo" v-model="payMethod" value="online" class="register_radio">线上支付</b>
            <b><input type="radio" name="demo" v-model="payMethod" value="offline" class="register_radio1">线下支付</b></p>
          <div class="clr"></div>
        </div>
        <!-- 线下支付 -->
        <div class="place_next" v-show="payMethod=='offline'">
          <p>流水单号</p>
          <input type="text" placeholder="请输入流水单号" v-model="pay_sn">
          <p>支付凭证</p>
          <div style="position: relative;">
            <img :src="img ? img: 'img/tj.png'" alt="" width="100" height="100">
            <input type="file" id="file-select" accept="image/*" style="opacity: 0;position: absolute;top: 0;left: 50%; width: 100px; height: 100px; transform: translateX(-50%);">
          </div>
        </div>
        <div class="register_ip" style="border:none;" v-show="payMethod=='online'">
          <p><span>支付方式</span><input type="text" @tap="showPayChannel" :value="payChannelText" readonly placeholder="请选择支付方式"
              class="reg_ip1" style="background:none;"></p>
          <div class="clr"></div>
        </div>

        <div class="register_bt">
          <input type="submit" :value="payMethod=='online' ? '确认支付' : '提交凭证'" @tap="confirmOrder">
        </div>
      </div>
      <!-- 支付弹窗 -->
      <div class="shop_car_zf mui-backdrop" style="display:none;" id="coon">
        <div class="shop_car_zhe"></div>
        <div class="shop_car_box">
          <h4>请选择支付方式<a @tap="hidePayChannel"><img src="img/close.png" alt="" width="16" height="15"></a></h4>
          <ul>
            <li class="shop_car1"><a>¥ {{fee}}元</a></li>
            <li class="shop_car2"><a>订单支付</a></li>
            <li @tap="setPayChannel('amount')"><a class="shop_car"><span><img src="img/yue.png"></span><b>余额支付</b></a></li>
            <li @tap="setPayChannel('ali')"><a class="shop_car"><span><img src="img/yinlian.png"></span><b>支付宝支付</b></a></li>
            <li @tap="setPayChannel('wx')"><a class="shop_car"><span><img src="img/xianxia.png"></span><b>微信支付</b></a></li>
          </ul>
        </div>
      </div>
    </div>
  </script>

  <script type="text/javascript">
    var wxChannel = null; // 微信支付 
    var aliChannel = null; // 支付宝支付 
    mui.plusReady(function () {
      // 获取支付通道 
      plus.payment.getChannels(function (channels) {
        for (var i in channels) {
          if (channels[i].id == "wxpay") {
            wxChannel = channels[i];
          }

          if (channels[i].id == "alipay") {
            aliChannel = channels[i];
          }
        }
      }, function (e) {
        mui.alert("获取支付通道失败：" + e.message);
      });
    })

    function pay(channel, str) {
      var paychannel;
      if (channel == 'ali') {
        paychannel = aliChannel;
      } else if (channel == 'wx') {
        paychannel = wxChannel;
      } else {
        return;
      }
      plus.payment.request(paychannel, str, function (result) {
        plus.nativeUI.alert("支付成功！", function () {
          back();
        });
      }, function (error) {
        plus.nativeUI.alert("支付失败：" + JSON.stringify(error));
      });
    }

    var list = [
      {
        account: null,
        desc: null,
        money: null
      }
    ];
    var discount;

    getJson(
      'api/getUserDiscount',
      null,
      function (ret) {
        if (ret.code == 200) {
          discount = ret.data
        }
      }
    )
    var index_page = {
      template: document.getElementById('index-page'),
      data: function () {
        return {
          list: list
        }
      },
      methods: {
        add: function () {
          this.list.push(
            {
              account: null,
              desc: null,
              money: null
            }
          )
        },
        remove: function (k) {
          if (this.list.length > 1) {
            this.list.splice(k, 1)
          }
        },
        submit: function () {
          //检验输入
          for (var i = 0, len = this.list.length; i < len; i++) {
            if (!this.list[i].account || !this.list[i].desc || !this.list[i].money) {
              mui.toast('请确保输入完整');
              return;
            }

            if (isNaN(parseFloat(this.list[i].money))) {
              mui.toast('请输入正确的金额');
            }
          }

          this.$router.push('/nextstep')
        }
      }
    }

    var nextstep_page = {
      template: document.getElementById('nextstep-page'),
      data: function () {
        return {
          list: list,
          payMethod: 'online',
          img: null,
          password: null,
          mark: null,
          pay_sn: null,
          payChannel: 0,
        }
      },
      computed: {
        payChannelText: function () {
          var channel_text = {
            amount: '余额支付',
            wx: '微信支付',
            ali: '支付宝支付'
          }

          return channel_text[this.payChannel] ? channel_text[this.payChannel] : '请选择支付方式';
        },
        total_price: function () {
          var ret = 0;
          for (var i = 0, len = this.list.length; i < len; i++) {
            ret += parseFloat(this.list[i].money);
          }
          return ret;
        },
        fee: function () {
          return (this.total_price * (1 - discount / 10)).toFixed(2);
        }
      },
      methods: {
        setPayChannel: function (channel) {
          this.payChannel = channel;
          this.hidePayChannel();
        },
        showPayChannel: function () {
          document.getElementById('coon').style.display = 'block'
        },
        hidePayChannel: function () {
          document.getElementById('coon').style.display = 'none'
        },
        confirmOrder: function () {
          var data = {
            list: list,
            password: this.password,
            mark: this.mark,
            payMethod: this.payMethod,
            payChannel: this.payChannel
          }

          if (this.payMethod == 'offline') {
            data.pay_sn = this.pay_sn;
            data.img = this.img;
          }

          postJson(
            'api/order/postOfflineOrder',
            data,
            function (ret) {
              ret.message && mui.toast(ret.message);
              if (ret.code == 200) {
                if (data.payMethod == 'offline') {
                  go('people_center.html');
                }
                if (data.payChannel == 'amount') {
                  go('people_center.html');
                }
                if (data.payChannel == 'ali') {
                  pay('ali', ret.data);
                }
                if (data.payChannel == 'wx') {
                  pay('wx', ret.data);
                }
              }
            },
            null,
            true

          )
        },
      },
      mounted: function () {
        var file_select = document.getElementById('file-select');
        var self = this;
        file_select.onchange = function () {
          var files = this.files;
          var file = files[0];
          if (!/\/(?:jpeg|jpg|png)/i.test(file.type)) return;
          var reader = new FileReader();

          reader.onload = function () {
            var result = this.result;
            self.img = result;
          };
          reader.readAsDataURL(file);
        }
      },
    }

    var router = new VueRouter({
      routes: [
        { path: '/', component: index_page },
        { path: '/nextstep', component: nextstep_page }
      ]
    })

    var vm = new Vue({
      router: router
    }).$mount('#app');
  </script>
</body>

</html>